.vanilla-select,
.vanilla-select * {
	box-sizing: border-box;
}
.vanilla-select {
	border: solid 0.1em;
	border-radius: 0.2em;
	display: inline-flex;
	flex: 0 1 0;
	flex-direction: column;
	padding: 0.2em 0.5em;
	position: relative;
	width: 150px;
}
.vanilla-select > .options > label {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding: 0.2em 0,5em;
}
.vanilla-select > label {
	cursor: pointer;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.vanilla-select > label:before {
	align-self: flex-start;
	content: '\25bc';
	margin-right: 0.1em;
}
.vanilla-select > .options {
	align-items: flex-start;
	background: #FFF;
	border: solid 0.1em;
	border-radius: 0 0.3em 0.3em 0.3em;
	display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	left: 0;
	margin-top: 0.2em;
	min-width: 100%;
	position: absolute;
	top: 100%;
	white-space: nowrap;
	width: auto;
}
.vanilla-select.opened > .options {
	display: flex;
	overflow: hidden;
}
.vanilla-select .option {
	padding: 0.2em 0.5em;

}
.vanilla-select .option.selected {
	background: #E4E4E4;
	width: 100%;
}
.vanilla-select > .options input.hidden {
	display:none;
}